@import "WelcomePage.css";

:root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
  margin: 0;
  padding-top: 1rem;
  text-align: center;
  background-color: #b2d6bc;
  position: relative;
}

.main {
  min-height: 96vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  /* background: rgba(0, 0, 0, 0.356); */
  width: 100%;
  height: 4rem;
  background-color: #7cd795;
  margin-top: 0;
  font-size: 20px;
  font-family: "Roboto";
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mitr", sans-serif;
  color: teal;
}

p {
  font-family: "Roboto";
  color: #473163;
}

.welcome-image {
  max-width: 35%;
  min-width: 300px;
  float: left;
}

/*.background {
  height: 100%;
  background-color: #b2d6bc;
}*/

.purple-button {
  background-image: linear-gradient(#583d7a, #783fbd);
  color: white;
}
.purple-button.textColor {
  color: rgb(247, 231, 203);
}

.purple-button.textColor:hover {
  color: #b2d6bc;
}

.purple-button.fontFamily {
  font-family: "Mitr", sans-serif;
}

.welcome {
  background-color: #b2d6bc;
}
