:root {
  --bubble-color: #e5eae7;
}

form.chat * {
  transition: all 0.5s;
  box-sizing: border-box;
}

form.chat {
  margin: 0;
  cursor: default;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  user-select: none;
}

form.chat .messages {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  height: 93%;
  width: 100%;
  padding: 2% 3%;
}

form.chat ::-webkit-scrollbar {
  width: 3px;
  height: 1px;
  transition: all 0.5s;
  z-index: 10;
}
form.chat ::-webkit-scrollbar-track {
  background-color: white;
}
form.chat ::-webkit-scrollbar-thumb {
  background-color: #bec4c8;
  border-radius: 3px;
}

form.chat .message {
  display: block;
  width: 98%;
  padding: 0.5%;
  height: 5%;
}

form.chat .myMessage,
form.chat .fromThem {
  max-width: 50%;
  word-wrap: break-word;
  margin-bottom: 20px;
}

form.chat .message:hover .myMessage {
  -webkit-transform: translateX(-130px);
  transform: translateX(-130px);
}

form.chat .message:hover .fromThem {
  -webkit-transform: translateX(130px);
  transform: translateX(130px);
}

form.chat .message:hover span {
  opacity: 1;
}

form.chat .myMessage,
.fromThem {
  position: relative;
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
  clear: both;
  font: 400 15px "Open Sans", sans-serif;
}

form.chat .myMessage {
  background: #faa07d;
  color: white;
  float: right;
  clear: both;
  border-bottom-right-radius: 20px 0 \9;
}

form.chat .myMessage:before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -8px;
  height: 19px;
  border-right: 20px solid #faa07d;
  border-bottom-left-radius: 16px 14px;
  transform: translate(0, -2px);
  border-bottom-left-radius: 15px 0 \9;
  transform: translate(-1px, -2px) \9;
}

form.chat .myMessage:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -42px;
  width: 12px;
  height: 20px;
  background: #e7e1e1;
  border-bottom-left-radius: 10px;
  transform: translate(-30px, -2px);
}

form.chat .fromThem {
  background: var(--bubble-color);
  color: black;
  float: left;
  clear: both;
  border-bottom-left-radius: 30px 0 \9;
}
form.chat .fromThem:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 19px;
  border-left: 20px solid var(--bubble-color);
  border-bottom-right-radius: 16px 14px;
  transform: translate(0, -2px);
  border-bottom-right-radius: 15px 0 \9;
  transform: translate(-1px, -2px) \9;
}

form.chat .fromThem:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: #e7e1e1;
  border-bottom-right-radius: 10px;
  transform: translate(-30px, -2px);
}

form.chat span {
  position: absolute;
  top: 10px;
  font-size: 14px;
  white-space: nowrap;
  vertical-align: middle;
  color: #8b8b90;
  opacity: 0;
  z-index: 4;
}

form.chat .myMessage span {
  left: 105%;
}

form.chat .fromThem span {
  right: 105%;
}

form.chat input {
  font: 400 13px "Roboto", sans-serif;
  /* margin: 0 auto; */
  padding: 0 15px;
  height: 7%;
  min-height: 30px;
  /* outline: 0; */
}

form.chat input[type="text"] {
  /* margin: 2px; */
  width: 77%;
  float: left;
  border-radius: 5px;
}

form.chat input[type="submit"] {
  width: 23%;

  border-radius: 5px;
  background: transparent linear-gradient(#783fbd, #583d7a);
  color: blanchedalmond;
  font-weight: 700;
  text-align: center;
  float: right;
}

form.chat input[type="submit"]:hover {
  background-image: linear-gradient(rgb(12, 173, 173), rgb(1, 116, 116));
  color: blanchedalmond;
  font-weight: 700;
  text-align: center;
  float: right;
}

form.chat .myMessage,
form.chat .fromThem {
  font-size: 12px;
  padding: 5px 10px;
}

form.chat .message:hover .myMessage {
  transform: translateY(18px);
}

form.chat .message:hover .fromThem {
  transform: translateY(18px);
}

form.chat .myMessage span,
form.chat .fromThem span {
  top: -20px;
  left: -7px;
  right: 0;
  font-size: 12px;
}

form.chat .myMessage,
form.chat .fromThem {
  max-width: 90%;
}

.iphone {
  min-width: 300px;
  max-width: 80%;
  min-height: 94vh;
  border-radius: 0.3rem;
  background-size: 100% 100%;
  margin: 2rem auto;
  position: relative;
  /*background-color: rgb(231, 225, 225);*/
  /*background-color: #c6e9d0;*/
  background-color: whitesmoke;
}

.connected {
  font-family: "Mitr";
  color: teal;
  border-bottom: 2px solid #008080;
  text-align: center;
  height: 3%;
  background-color: #FFF;
}

.around {
  border-radius: 6px;
  position: absolute;
  top: 2%;
  right: 3%;
  left: 3%;
  bottom: 2%;
  overflow: hidden;
  background-color: rgb(231, 225, 225);
}

.typing {
  transition: all ease 0.5s;
  opacity: 0;
  color: white;
  margin-top: 10px;
  font: 400 15px "Open Sans", sans-serif;
}

.typing.active {
  opacity: 1;
}
