/*.usercard {
  width: 14rem;
}*/

.username {
  color: teal;
  font-family: "Mitr", sans-serif;
}

.callmebutton {
  height: 3rem;
  width: 3rem;
  border-radius: 50% !important;
  background-image: linear-gradient(#783fbd, #583d7a);
  border-color: #473163 !important;
}

.callmebutton:hover {
  border-color: rgb(1, 116, 116) !important;
  background-image: linear-gradient(rgb(12, 173, 173), rgb(1, 116, 116));
}
