.welcome-image {
  max-width: 35%;
  min-width: 300px;
  float: left;
}
.background {
  background-color: #7cd795;
}

.logo {
  color: #583d7a;
  font-family: "Mitr", sans-serif;
}
/* .bottom-box {
  background-color: whitesmoke;
} */
